{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "redux-reliever"
  ],
  "rules": {
    "no-console": "off",
    "redux-reliever/enforce-oftype-usage": 2
  },
  "parser": "babel-eslint"
}
